{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Blog</title>
    <link rel="stylesheet" href="{% static 'blog/styles.css' %}">
</head>
<body>

<nav class="navbar">
    <div class="nav-container">
        <a href="{% url 'home' %}" class="logo">Blog</a>

        <ul class="nav-links">
            <li><a href="{% url 'home' %}">Home</a></li>

            {% if user.is_authenticated %}
                <li><a href="{% url 'create_post' %}" class="nav-btn">Create</a></li>
                <li><a href="{% url 'logout' %}" class="logout">Logout</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'register' %}" class="nav-btn">Register</a></li>
            {% endif %}
        </ul>
    </div>
</nav>


<section class="container">
    <h1 style="text-align: center;">Latest Blogs</h1>

    <div class="blog-grid">
        {% for post in posts %}
        <div class="blog-card">
            
            {% if post.image %}
                <img src="{{ post.image.url }}" class="card-img">
            {% endif %}

            <div class="card-content">
                <h2>{{ post.title }}</h2>
                <p>{{ post.content|truncatewords:20 }}</p>

                <a href="{% url 'post_detail' post.id %}" class="read-btn">
                    Read More →
                </a>

                {% if post.author == user %}
                <div class="card-actions">
                    <a href="{% url 'edit_post' post.id %}">Edit</a>
                    <a href="{% url 'delete_post' post.id %}"
                       onclick="return confirm('Delete this blog?')">Delete</a>
                </div>
                {% endif %}
            </div>

        </div>
        {% endfor %}
    </div>
</section>



</body>
</html>
