{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Login |  Blog</title>
    <link rel="stylesheet" href="{% static 'blog/styles.css' %}">
</head>
<body>

<nav class="navbar">
    <div class="nav-container">
        <a href="{% url 'home' %}" class="logo">Blog</a>

        <ul class="nav-links">
            <li><a href="{% url 'home' %}">Home</a></li>

            {% if user.is_authenticated %}
                <li><a href="{% url 'create_post' %}" class="nav-btn">Create</a></li>
                <li><a href="{% url 'logout' %}" class="logout">Logout</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'register' %}" class="nav-btn">Register</a></li>
            {% endif %}
        </ul>
    </div>
</nav>


<div class="auth-wrapper">
    <div class="auth-card">
        <h2>Welcome Back 👋</h2>

        <form method="POST">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>

            <button type="submit">Login</button>
        </form>

        <p>
            Don’t have an account?
            <a href="{% url 'register' %}">Register</a>
        </p>
    </div>
</div>

</body>
</html>
